<table class = table>
  <tr>
    <th>image</th><th>name</th> <th colspan="4"></th>
  </tr>
  <% users.each do |user| %>
    <tr>
      <%= link_to user_path(user.id) do %>
        <th><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "noimage.jpg", size:'50x50' %></th>
      <% end %>

      <th><%= user.name %></th>
      <th>フォロー数：<%= user.follower.count %></th>
      <th>フォロワー数：<%= user.followed.count %></th>

      <% if user.id == current_user.id %>
        <th></th>
      <% else %>
        <% if user.follower?(current_user.id) %>
          <th><%= link_to "フォロー外す", user_relationship_path(user.id, Relationship.find_by(follower_id: current_user.id, followed_id: user.id)), method: :delete %></th>
        <% else %>
          <th><%= link_to "フォローする", user_relationships_path(user.id), method: :post %></th>
        <% end %>
      <% end %>




      <th><%= link_to "Show", user_path(user.id), method: :get %></th>
    <tr>
  <% end %>
</table>