<!--flash message-->
<%= render 'devise/shared/flash_messages' %>

<!--validation error message-->
<%= render 'shared/validation_error_messages', instance: @book %>

<div class='row'>
  <div class='col-md-3'>
    <!--User info-->
    <h1>User info</h1>
    <%= render 'users/users_form/user_info_form', user: @user  %>

    <!--New Book-->
    <h1>New book</h1>
    <%= render 'books/books_form/book_create_form', book: @book  %>
  </div>

  <div class='col-md-8 offset-md-1'>
    <!--User Books-->
    <h1>Group Detail</h1>
    <%= render 'groups/groups_form/group_show_form', group: @group  %>
  </div>
</div>