<!--flash message-->
<%= render 'devise/shared/flash_messages' %>

<!--validation error message-->
<%= render 'shared/validation_error_messages', instance: @book %>

<!--User info-->
<h1>User info</h1>
<%= render 'users/users_form/user_info_form', user: @user  %>

<!--New Book-->
<h1>New book</h1>
<%= render 'books/books_form/book_create_form', book: @book  %>

<!--Users-->
<h1>Users</h1>
<%= render 'users/users_form/user_all_form', users: @users  %>
