<%= render 'devise/shared/flash_messages' %>
<h1>User info</h1>

<% if @user.profile_image_id != nil %>
  <%= image_tag attachment_url(@user, :profile_image, :fill, 300, 300, format: "jpg") %>
<% end %>

<p>name:<%= @user.name %></p>

<% if @user.introduction != nil %>
  <p>introduction:<%= @user.introduction %></p>
<% end %>

<%= link_to "edit", edit_user_path %>

<h1>New book</h1>

<h1>Books</h1>
