<!--header-->
<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a href="/" class="navbar-brand d-flex align-items-center">Bookers</a>
    <nav class="navbar navbar-expand-sm navbar-light">
    <% if user_signed_in? %>
      <!--User is alreadey log in-->
      <ul class = navbar-nav ml-auto>
        <li><%= link_to "Home", user_path(current_user.id), class: 'fas fa-home navbar-brand d-flex align-items-center', method: :get %></li>
        <li><%= link_to "Users", users_path, class: 'fas fa-users navbar-brand d-flex align-items-center', method: :get %></li>
        <li><%= link_to "Books", books_path, class: 'fas fa-book-open navbar-brand d-flex align-items-center', method: :get %></li>
        <li><%= link_to "logout", destroy_user_session_path, class: 'fas fa-sign-out-alt navbar-brand d-flex align-items-center', method: :delete %></li>
        <li><%= render 'shared/header_form/search_category_form' %></li>
      </ul>
    <% else %>
      <!--User is log out-->
      <ul class = navbar-nav ml-auto>
        <li><%= link_to "Home", root_path, class: 'fas fa-home navbar-brand d-flex align-items-center', method: :get %></li>
        <li><%= link_to "About", home_about_path, class: 'fas fa-link navbar-brand d-flex align-items-center', method: :get %></li>
        <li><%= link_to "sign up", new_user_registration_path, class: 'fas fa-user-plus navbar-brand d-flex align-items-center', method: :get %></li>
        <li><%= link_to "login", user_session_path, class: 'fas fa-sign-in-alt navbar-brand d-flex align-items-center', method: :post %></li>
      </ul>
    <% end %>
    </nav>
  </div>
</div>

<% if user_signed_in? %>
  <div class="d-flex justify-content-center">
    <%= render 'shared/searche_window' %>
  </div>
<% end %>