<%= form_with model: book, url: book_path(book.id), local: true do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Opinion %><br>
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit "Update book", class: 'btn btn-sm btn-success' %>
  </div>
<% end %>