<table class = table>
  <tr>
    <th></th><th>title</th> <th>Opinion</th> <th colspan=2></th>
  </tr>

  <tr>
  <th><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "noimage.jpg" %></th>
  <th><%= book.title %></th>
  <th><%= book.body %></th>
  
  <% if book.user_id == current_user.id %>
  <th><%= link_to "edit", edit_book_path(params[:id]) %></th>
  <th><%= link_to "destroy", book_path, method: :delete , "data-confirm" => "本当に消しますか？" %></th>
  <% end %>
  <tr>

</table>