<table class = table>
  <tr>
    <th></th><th>title</th> <th>Opinion</th> <th colspan=2></th>
  </tr>
  <% books.each do |book| %>
    <% @user = users.find(book.user_id) %>
    <tr>

      <th>
        <%= link_to user_path(@user.id) do %>
        <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "noimage.jpg", size:'50x50' %>
        <% end %>
      </th>

      <th><%= link_to "#{book.title}", book_path(book.id) %></th>
      <th><%= book.body %></th>

      <% if book.favorited?(current_user) %>
        <th><%= link_to "♡#{book.favorites_count}", book_favorite_path(book.id, Favorite.find_by(book_id: book.id, user_id: current_user.id)), method: :delete, class: "favorite" %></th>
      <% else %>
        <th><%= link_to "♡#{book.favorites_count}", book_favorites_path(book.id), method: :create %></th>
      <% end %>
      
      <td>コメント数：<%= book.book_comments_count %></td>

    <tr>
  <% end %>
</table>