<table class = table>
  <tr>
    <th></th><th>title</th> <th>Opinion</th> <th colspan=2></th>
  </tr>
  <% books.each do |book| %>
    <% @user = User.find(book.user_id) %>
    <tr>

      <td>
        <%= link_to user_path(@user.id) do %>
        <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "noimage.jpg", size:'50x50' %>
        <% end %>
      </td>

      <td><%= link_to "#{book.title}", book_path(book.id) %></td>
      <td><%= book.body %></td>

      <%= tag.td(render('favorites/favorites_form/favorite_btn_form', book: book), class: "favorite-btn#{book.id}")  %>

      <td>コメント数：<%= book.book_comments_count %></td>

    <tr>
  <% end %>
</table>