<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--header-->
    <header>
      <%= render 'shared/header' %>
    </header>
    
    <!--main-->
    <main>
    <%= yield %>
    </main>
    
    <!--footer-->
    <footer>
      <%= render 'shared/footer' %>
    </footer>
    
  </body>
</html>
