<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/cdc0e6c98c.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--header-->
    <header>
      <%= render 'shared/header' %>
    </header>
    
    <!--main-->
    <main>
      <div class="container">
      <div class="row">
      <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
        
      <%= render 'devise/shared/flash_messages' %>
      <%= yield %>
      
      </div>
      </div>
      </div>
    
    </main>
    
    <!--footer-->
    <footer>
      <%= render 'shared/footer' %>
    </footer>
    
  </body>
</html>
